version: '3.8'

services:
  server:
    build:
      context: Docker/dods
      dockerfile: Dockerfile
    image: dods-server
    restart: unless-stopped
    networks:
      - default
    environment:
      - CONFIG_GITHUB_USERNAME=${CONFIG_GITHUB_USERNAME}
      - CONFIG_GITHUB_TOKEN=${CONFIG_GITHUB_TOKEN}
      - CONFIG_GITHUB_REPO=${CONFIG_GITHUB_REPO}
      - CONFIG_GITHUB_BRANCH=${CONFIG_GITHUB_BRANCH}
    volumes:
      - .server:/data
    ports:
      - "27015:27015"
      - "27020:27020"
      - "27005:27005"
networks:
  default:
    driver: bridge
