version: '3.4'

services:
  dods-server:
    build:
      context: Docker/dods
      dockerfile: Dockerfile
    restart: unless-stopped
    container_name: dods-server
    volumes:
      - .server:/data
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/udp"
      - "27005:27005/udp"
